{{#> layout headerTitle=(t "email.registration.html.header") }}
  <div class="container">
    <p>{{ t "email.registration.html.content.0" }}</p>
    <p>{{ t "email.registration.html.content.1" }}</p>
    <p>{{ t "email.registration.html.content.2" }}</p>
    <a href="{{ confirmUrl }}" class="button">{{ t "email.registration.html.button" }}</a>
  </div>
{{/ layout }}
