{{#> layout headerTitle=(t "email.email-address-confirmation.html.header") }}
  <div class="container">
    <p>{{ t "email.email-address-confirmation.html.content.0" }}</p>
    <p>{{ t "email.email-address-confirmation.html.content.1" }}</p>
    <p>{{ t "email.email-address-confirmation.html.content.2" }}</p>
    <a href="{{ confirmationLink }}" class="button">{{ t "email.email-address-confirmation.html.button" }}</a>
  </div>
{{/ layout }}
